<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
        

    </head>
    <body>
        <div class='row'>&nbsp;</div>

        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
                <div class='row'><div><h1>标题</h1></div></div>

                <div class='row'> 
                    <div class='col-md-11 nav'>
                        <div class='col-md-8'></div>
                        <div class='col-md-4'>
                            <div class='col-md-4 nav_a_checked'><a href="javascript:;">Home</a></div>
                            <div class='col-md-4 nav_a_unchecked'><a href="javascript:;">Archive</a></div>
                            <div class='col-md-4 nav_a_unchecked'><a href="javascript:;">About</a></div>
                        </div>



                    </div>
                    <div class='col-md-1'></div>
                </div>

                <div class='row'>&nbsp;</div>
                <div class='row'>&nbsp;</div>
                <div class='row'>&nbsp;</div>

                <div class='row'>
                    <!-- <div>显示面板</div> -->
                    <div class='col-md-8'>

                        <div class='col-md-10 col-md-offset-1' id='main_board'>
                        asd
                        </div>

                    </div>
                    <div class='col-md-3 side'>
                        <!-- <div> 侧边栏</div> -->

                        <div class='col-md-11 col-md-offset-1'>
                            <p>分类 / Sorts</p>
                            <hr>
                            一大堆分类

                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            <p> 标签 / Tags</p>
                            <hr>
                            一大堆 标签

                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            <div class='row'>&nbsp;</div>
                            
                            <p>最近 / Recent</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
