.mynav {
    height: 42px;
    border: none;
    border-bottom:solid;
    border-bottom-color:rgba(40, 40, 40, 0.15);
    border-bottom-width:1px;}

.side{
    border: none;
    border-left:solid;
    border-left-color: rgba(40, 40, 40, 0.15);
    border-left-width:1px;}

#main_board{
    }

ul.page{

    font-size: 16px;
}

li.page{
    margin: 5px;
}

body{
    color: rgba(0, 0, 0, 0.6);
}

.panel-default>.panel_heading{
    background-color: white;
}


a{
    color: #139fa2;
}

a.show_detail{
}
